<div class="container d-flex justify-content-center align-items-center vh-height">
  <form #authLogInFrom="ngForm" (ngSubmit)="onLogIn(authLogInFrom)" class="form">
    <div class="form-group">
      <input 
      type="email"
      id="email"
      class="form-control"
      ngModel
      name="email" 
      placeholder="Enter Email Address"
      required
      #email="ngModel"
      pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
      required
       >
       <div class="invalid-feedback" [ngClass]="!email.valid  ? 'd-block' : ''" *ngIf="!email.valid && email.touched">
        Please provide a valid Email Address.
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" 
      type="text" placeholder="Password"
      pattern=".{8,}"
       ngModel name="password" required
       #password="ngModel">
       <div class="invalid-feedback" [ngClass]="!password.valid  ? 'd-block' : ''" *ngIf="!password.valid && password.touched">
       please Enter valid password 
        </div>
    </div>
   
    <div class="form-group">
      <button class="btn   btn-secondary btn-block" type="submit" [disabled]="!authLogInFrom.valid">
        <span *ngIf="isLoading" class=" spinner-border text-light"></span>
        <span *ngIf="!isLoading">Log In</span></button>
      <div></div>
    </div>
  </form>
  {{error}}
</div>
<app-toasts #toastComponent [toastMessage]="error"></app-toasts>