<div class="container  d-flex justify-content-center align-items-center vh-height">
    <div class="row">
        <div class="col-md-12 d-flex flex-wrap ">
            <div class="col-md-4">
                <img src="assets/image/Home.png" class="img-fluid" style="width: 200px;" alt="Logo">
            </div>
            <div class="col-md-8 white text-justify">
                <h3>Introduction</h3>
                Note Square is a note-taking service included as part of the free,
                web-based Docs Editors suite offered by Note Square.
                Note Square is available as a web application with all cross browser compltibilty.
                The app offers a variety of tools for taking notes, including text, lists.
                The interface allows for a single-column view or a multi-column view.
                Notes can be color-coded, and labels can be applied for organization notes with other Keep users in
                real-time.
            </div>
        </div>
    </div>
</div>