<div class="container  d-flex align-items-center vh-height">
    <div class="row">
        <div class="col-md-12  text-white">
            <h5>Features:</h5>
            <ul class="list-group">
                <li class="list-group-item">User can delete notes</li>
                <li class="list-group-item">User can restore Notes</li>
                <li class="list-group-item">Users can create notes</li>
                <li class="list-group-item">Users can choose between a single-column view and a multi-column view.</li>
                <li class="list-group-item">Notes can be color-coded, with options for white, red, orange, yellow, green, teal, blue or grey.</li>
                <li class="list-group-item">Notes can be categorized using labels, with a list of labels in the web app's navigation bar.</li>
              </ul>
        </div>
    </div>
</div>