<div class="container px-3 d-flex justify-content-center align-items-center vh-height">
    <div class="row">
        <div class="col-md-12 text-white">
            <h4 class="m-4">About Me</h4>
            <div class="d-flex flex-wrap m-3 p-3">
                Note Square is a note-taking service included as part of the free,
                web-based Docs Editors suite offered by Note Square.
                Note Square is available as a web application with all cross browser compltibilty.
                The app offers a variety of tools for taking notes, including text, lists.
                The interface allows for a single-column view or a multi-column view.
                Notes can be color-coded, and labels can be applied for organization notes with other Keep users in
                real-time.
            </div>
            <div class="d-flex   m-3 p-3">
                Note Square is a note-taking service included as part of the free,
                web-based Docs Editors suite offered by Note Square.
                Note Square is available as a web application with all cross browser compltibilty.
                The app offers a variety of tools for taking notes, including text, lists.
                The interface allows for a single-column view or a multi-column view.
                Notes can be color-coded, and labels can be applied for organization notes with other Keep users in
                real-time.
            </div>
        </div>
    </div>
</div>