<div class="sidebar-sticky pt-3 px-0" *ngIf="toggleMenu">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/notes">
        <span class="material-icons align-middle">description</span>
        Note List
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/note-trash">
        <span class="material-icons align-middle">delete_sweep</span>
        Note Trash
      </a>
    </li>
  </ul>
</div>
